<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" th:href=@{favicon.ico} type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="ISO-8859-1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>GrantControl - Clients</title>
</head>
<div th:replace="fragments/header :: header">&nbsp;</div>
<body>
<br>
<div class="container" align="center">
    <div th:if="${googleChartsClients eq true}" id="chart_div"></div>
    <a href="cadastrarCliente" style="font-size: 10px;" class="waves-effect waves-light blue lighten-1 btn-small"
       th:if="${usuarioLogado.nivel == 1}"><i class="material-icons left">add</i>Register Customer</a>
</div>
<br><br>
<form id="formBusca" action="buscarCliente" class="container" method="post">
    <input type="text" style="font-size: 11px; font-weight: bold;" id="nomeCliente" name="nomeCliente"
           placeholder="Enter the company name or server IP"/>
    <a onclick="buscarAgora()" style="font-size: 10px;" class="waves-effect waves-light blue lighten-1 btn"><i
            class="material-icons left">find_in_page</i>Search</a>
    <a th:href="clientes" style="font-size: 10px;" class="waves-effect waves-light blue lighten-1 btn"><i
            class="material-icons left">find_replace</i>Clean</a>
</form>
<br><br>
<table class="container">
    <thead>
    <tr style="font-size: 12px;">
        <th>Last change</th>
        <th>Name</th>
        <th>Status</th>
        <th>Data</th>
    </tr>
    </thead>
    <tbody style="font-size: 11px;">
    <tr th:each="cliente : ${listarClientes}">
        <td><span th:text="${#dates.format(cliente.dataAlteracao, 'dd/MM/yyyy HH:mm')}"></span></td>
        <td><span th:text="(${cliente.nomeCliente} ? ${cliente.nomeCliente} : 'N/A')"></span></td>
        <td><span th:text="(${cliente.ativo} ? 'Active' : 'Inactive')"></span></td>
        <td><a th:href="${(#mvc.url('CC#detalhesCliente').arg(0, cliente.clienteId)).build()}"><i
                class="small material-icons">drag_handle</i></a></td>
    </tr>
    </tbody>
</table>
<br><br>
<div class="container" align="center">
    <div th:if="${searchCliente ne true && listarClientes.totalPages != 1}">
        <ul class="pagination">
            <li th:class="${listarClientes.number == 0} ? disabled"><a
                    class="pageLink"
                    th:href="@{/clientes(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
            </li>
            <li th:class="${listarClientes.number == 0} ? disabled"><a
                    class="pageLink"
                    th:href="@{/clientes(pageSize=${selectedPageSize}, page=${listarClientes.number})}">&larr;</a>
            </li>
            <li
                    th:class="${listarClientes.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                <a class="pageLink"
                   th:href="@{/clientes(pageSize=${selectedPageSize}, page=${page})}"
                   th:text="${page}"></a>
            </li>
            <li
                    th:class="${listarClientes.number + 1 == listarClientes.totalPages} ? disabled">
                <a class="pageLink"
                   th:href="@{/clientes(pageSize=${selectedPageSize}, page=${listarClientes.number + 2})}">&rarr;</a>
            </li>
            <li
                    th:class="${listarClientes.number + 1 == listarClientes.totalPages} ? disabled">
                <a class="pageLink"
                   th:href="@{/clientes(pageSize=${selectedPageSize}, page=${listarClientes.totalPages})}">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<script>
    function buscarAgora() {
        document.getElementById("formBusca").submit();
    }
</script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript">

    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(dadosClientes);

    function dadosClientes() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['Customers', [[${quantidadeClientes}]]],
            ['Products', [[${quantidadeProdutos}]]]
        ]);

        var options = {
            'width': 280,
            'height': 150,
            pieHole: 0.3,
            colors: ['#42a5f5', '#9ed1fa'],
        };
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
<script>
    $(document).ready(function () {
        changePageAndSize();
        $('.dropdown-trigger').dropdown();
        $('select').formSelect();
    });

    function handleInput(e) {
        var ss = e.target.selectionStart;
        var se = e.target.selectionEnd;
        e.target.value = e.target.value.toUpperCase();
        e.target.selectionStart = ss;
        e.target.selectionEnd = se;
    }

</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    function changePageAndSize() {
        $('#pageSizeSelect').change(function (evt) {
            window.location.replace("/grantcontrol/clientes?pageSize=" + this.value + "&page=1");
        });
    }

    /*]]>*/
</script>
</body>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</html>