<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <link rel="icon" th:href=@{favicon.ico} type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="ISO-8859-1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<footer class="footer-copyright">
    <div align="center" class="container">
        <br><br>
        <p style="font-size:12px">&copy; 2021 Designed and developed by <a href="mailto:guizaramellaf91@gmail.com"><strong>Guilherme
            Zaramella</strong></a></p>
        <label style="font-size: 10px; font-style: italic;">for study purposes</label><br>
    </div>
</footer>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-trigger').dropdown();
    });
</script>
</body>
</html>